*{
padding: 0;
margin: 0;
box-sizing: border-box;

}
body{
background-color: #f1f1f1;
position: relative;
min-height: 100vh;
display: flex;
flex-direction: column;
}

footer {
margin-top : auto;
background-color : #fff8e7;
font-size : 25px;
text-align: center;
width: 100%;
display: block;
position: absolute;
bottom: 0px;


}

.inside_footer{
list-style: none;
margin: 0px;
padding:0px;
display: flex;
width: 100%;

}

.inside_footer li{
position: relative;
display: flex;
align-items: center;
justify-content: center;
flex: 1;
top:15px;
font-size: 15px;

}


.inside_footer li a {
color: rgb(0, 0, 0);
padding:13.74px;
background-color: transparent;
border: none;
cursor: pointer;
transition: all 0.2s ease;
margin: 0px;
border-radius: 80px;
text-decoration: none;

}


.inside_footer li a:hover {
background-color:black;
color: white;}


li{
list-style: none;
display:inline;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
}

.li a  {
padding-right:0px;
padding-top: 0px;
height: 40px;
width: 40px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
}

.fa{
position: relative;
border-radius: 100px;
margin-right: 1px;
padding:4px;
bottom: 20px;


}

.fa:hover {
color:#f1f1f1;
background: black;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
}
.fa-facebook {
background:none;
color: black;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    

}
.fa-instagram{
 background:none;
color:black;
}
.fa-twitter{
background:none;
color:black;
}
@media screen and (max-width: 1000px) {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
}
@media screen and (min-width: 100px) {

}
