body{
background-color: white;
}
.theabout{/*text*/
 margin-left:20px;
 width: 660px;
 height:79px;
text-align: left;
margin: 35px;
line-height: 1.6;
position: absolute;
top:110px;
}

.BGI{/*back groung img*/
position: absolute;
visibility: inherit;
bottom:37px;
right: 0px;
top:45px;
width :290px;
height:478px;
background-image: url('../Img/lineb.jpg');
background-position:left;
background-repeat:none;

}
#about{/*the word about*/
position: relative;
font-family:"Times New Roman", Times, serif;
font-size: xx-large;
top:20px;
padding-left: 3px;
right: 550px;
}

span{/*to style the name About(highlighter)*/
position: absolute;

}
span h1 {/*highlighter style*/
border-radius: 0.8em 0.3em;

background: transparent;
background-image: linear-gradient(
to right,
rgba(255, 225, 0, 0.1),
rgba(255, 225, 0, 0.7) 4%,
rgba(255, 225, 0, 0.3)
);
-webkit-box-decoration-break: clone;
box-decoration-break: clone;
width:220px;

}