body{
background-color: white;
}
.theabout{
 margin-left:20px;
 width: 660px;
 height:79px;
text-align: left;
}
.aboutext{

color: rgb(0, 0, 0);
padding: 9px;

font-family: Arial, Helvetica, sans-serif;
font-size: medium;
}
.BGI{
position: relative;
bottom:37px;
float: right;
width :200px;
height:478px;
background-image: url('../Img/lineb.jpg');
background-position:left;
background-repeat:none;

}