body{
background-color: rgba(238, 238, 238, 1);

}

#canva{/* this is the canva (picture)*/
position: relative;
width:900px;
height:430px;
top:110px;
left:140px;
border: solid black 0.1px;
}
.btn3{/* this is the border around the buttons */
position: relative;
left:10px;
bottom: 360px;
width:55px;
margin: 30px;;

}

.normalb-not{/* the one inculdes the ai*/
position: relative;
background-color:rgba(0, 0, 0, 0.85);
color: rgba(0, 0, 0, 0.85);
width:80px;
bottom: 50px;
height: 240px;
margin-bottom: 66px;
border-radius: 3px;
}

.normalb {/* the 3 buttons save play and goback*/
position: relative;
bottom:70px;
border-radius:10px;
width: 100px;
border:solid rgb(0, 0, 0) 1.5px;
background-color:rgba(0, 0, 0, 0.85);
height: 35px;
color: #fefefe;
font-family: Arial, Helvetica, sans-serif;

}
.widthone{/* the folderone*/
position: relative;
background-color:rgba(0, 0, 0, 0.85);
width:905px;
height:80px;
bottom: 620px;
left:260px;
color:#fefefe;
text-align: right;
padding-right: 20px;
font-family: Arial, Helvetica, sans-serif;


}

.alltheicons{
 margin: 44px;
bottom: 940px;
right:530px;
position: relative;


}

.alltheicons li {
padding-top: 34px;
}
