#bd{/* this is about the background picture*/
height: 480px;
background-image: url('../Img/lineb.jpg');
position: relative;

}
.warrper{/* the beigh border */

border-radius: 80px;
width: 490px;
height:280px;
margin: auto;
margin-top: 80px;
padding: 40px;
text-align: center;
background-color: rgba(255, 248, 231, 0.7);
position: absolute;
top:90px;
right: 400px;
}
.theb{/* the rectangular that about the padding bettwwen the button  */
padding: 0px;
border:none;
background-color: none;

}
#logohome{
position: relative;
width: 270px;
}


.theb li{/* the buttons place*/
padding:30px;
position: relative;
top:40px;
width:30px;
background-color: none;
}

.theb li a button{/* the button style*/
background-color: black;
color:white;
height: 24px;
width: 130px;
border-radius: 5px;
font-family: Arial, Helvetica, sans-serif;

}
#skipbtn{ /* the skip "button"*/
position: relative;
top:60px;
padding-left: 350px;
border-style: solid;
border-style: solid;
border-bottom: none;
border-top: none;
border-left: none;
border-right: none;
font-weight: bold;
color: black;
font-family: Arial, Helvetica, sans-serif;

}
